*.uvguix.*
*.crf
*.d
*.o
*.lst
*.dep
*.map
*.ali
*.elf
*.log
*.bin
b~*
*.hex
*.a
arm-ada-deploiement/compilateur/gcc-arm-none-eabi-6-2017-q3-update
*.lib
*.*~
*~
export/*.xz
export/arm-ada
export/arm-ada_home*.tar.xz
export/index.html
hardware/Altium-PCB/"Project Logs for Ada4Arm"/
hardware/Altium-PCB/"Project Outputs for Ada4Arm"/
hardware/Altium-PCB/__Previews/
hardware/Altium-PCB/History/
hardware/Altium-PCB/Simu/
*.iex
*#

