[Desktop Entry]
Name=ST-Link GdbServer
Comment=GDB server for ST-Link probe
GenericName=gdbserver
Exec="/mnt/commetud/2eme Annee IMACS/ADA/tools/bin/ST-LINK_gdbserver.sh"
Icon=/usr/local/insa/STM32CubeProgrammer/util/Programmer.ico
Type=Application
Terminal=true
StartupNotify=false
Categories=Utility;Development;
Keywords=debug;
MimeType=application/x-shellscript

X-Desktop-File-Install-Version=0.1

